script(src="js/jquery-3.4.1.min.js")
script(src="js/popper.min.js")
script(src="js/bootstrap.min.js")
script(src="js/owl.carousel.min.js")
//- Nice Select
script(src='js/jquery.nice-select.min.js')
script(src='js/fastclick.js')
script(src='js/prism.js')
script(src="js/wow.min.js")
//- My Script
script(src="js/scripts-min.js")
script(src="http://localhost:35729/livereload.js")