// Start Footer

footer
  .footer(class="wow fadeInUp" data-wow-delay="0.2s")
    .container
      h5 Footer Area

// End Footer

// Start Fixed Footer

block fixedFooter
  .fixed-footer
    ul
      li
        a(href="index.html", class="active")
          i.fas.fa-home
      li.search
        a(href="")
          i.fas.fa-search
      li
        a(href="login.html") 
          i.fas.fa-sign-in-alt

// End Fixed Footer