extends header
block userTools
  .user-tools
    ul
      li: a.search(href="")
        i.fas.fa-search
      li: a(href="")
        i.far.fa-comment-dots
        span.noti 2
      li: a(href="")
        i.far.fa-bell
        span.noti 3
      li: a.login(href="") 
        i.fas.fa-user
        | نائل